<form [formGroup]="miFormularioAnidado" >
  <h3> Datos en vivo del formulario</h3>
  <p> {{miFormularioAnidado.value | json}} </p>

  <h4> telefono Fijo :</h4>
  <div formGroupName="fijo">
    <input placeholder="Prefijo" formControlName="prefijo">
    <input placeholder="Numero" formControlName="numero">


  </div>
  <h4> telefono Movil :</h4>
  <div formGroupName="movil">
    <input placeholder="Prefijo" formControlName="prefijo">
    <input placeholder="Numero" formControlName="numero">


  </div>


</form>
